version: "3.9"

services:
  scraper:
    image: python:3.11-slim
    container_name: mzansi_scraper
    volumes:
      - ./:/app
      - app_data:/app/data
    working_dir: /app
    environment:
      GDRIVE_JSON_URL: ${GDRIVE_JSON_URL}
      GDRIVE_BUILDER_URL: ${GDRIVE_BUILDER_URL}
    command: /bin/bash -c "apt-get update && apt-get install -y curl && python entrypoint.py"